.about-details{
    background-color: rgb(240, 240, 240);
    /* height: 100vh; */
    margin-top: 4rem;
    padding: 2rem;
}

.cv_btn{
    border: 2px solid rgba(189, 33, 181, 0.788);
    
}
.cv_btn:hover{
    background-color: rgba(189, 33, 181, 0.788);
   

}