.img{
/* background-image: url('../../../Images/slide-bg-1.jpg'); */
background-image: url('../../../Images/pexels-cottonbro-5483077.jpg');
background-position: center;
background-repeat: no-repeat;
height: 100vh;
/* width: 100%; */
background-size: cover;
}
.center {
   margin-top: 40%;
  
  }